p {
    opacity: 0.8;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    height: 90vh;
    margin: 0 2vh 0 0;
    border-radius: 2vh;
    padding: 2vh;
    background-color: rgb(32, 43, 59);
    background-image: url('./assets/clouds-449822_640.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

aside button {
    border: none;
    background-color: rgb(32, 43, 59);
    color: white;
    display: grid;
    flex-direction: column;
    font-weight: bold;
}

.svg {
    margin: 0 auto;
}

input {
    background-color: rgb(32, 43, 59);
    width: 50vh;
    padding: 1vh;
    border-radius: 2vh;
    color: white;
}

body {
    background-color: rgb(11, 19, 30);
    color: white;
}

.actual {
    display: flex;
    justify-content: space-between;
}

.actual img {
    height: 20vh;
    width: 20vh;
    margin: 0 auto;
}

.datos {
    margin-left: 1vh;
}

.horas {
    background-color: rgb(32, 43, 59);
    display: grid;
    width: 60vh;
    padding: 1vh 1.5vh;
    border-radius: 2vh;
}

.horario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horas p {
    font-size: 1.5vh;
}

.hora {
    margin: 0 auto;
    text-align: center;
}

.hora img {
    height: 5vh;
}

.hora span {
    font-weight: bold;
    font-size: 2vh;
}

hr {
    height: 15vh;
    color: rgb(11, 19, 30);
    opacity: 0.3;
}